## APS Failure Prediction

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [32]:
df=pd.read_csv("aps_failure_training_set.csv")

In [33]:
test=pd.read_csv("aps_failure_training_set.csv")
test.shape

(60000, 171)

In [34]:
#mapping target variable to 1 and 0

In [35]:
df['class'] = df['class'].map({'neg': 0, 'pos': 1})
test['class'] = test['class'].map({'neg': 0, 'pos': 1})

In [36]:
raw=df
raw_df=test

In [37]:
raw["class"].unique()

array([0, 1], dtype=int64)

In [38]:
df.head()

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,0,76698,na,2130706438,280,0,0,0,0,0,...,1240520,493384,721044,469792,339156,157956,73224,0,0,0
1,0,33058,na,0,na,0,0,0,0,0,...,421400,178064,293306,245416,133654,81140,97576,1500,0,0
2,0,41040,na,228,100,0,0,0,0,0,...,277378,159812,423992,409564,320746,158022,95128,514,0,0
3,0,12,0,70,66,0,10,0,0,0,...,240,46,58,44,10,0,0,0,4,32
4,0,60874,na,1368,458,0,0,0,0,0,...,622012,229790,405298,347188,286954,311560,433954,1218,0,0

In [39]:
df.shape

(60000, 171)

### Data Cleaning

In [40]:
#checking if there any null values in train data frame
df.isnull().sum().head()

class     0
aa_000    0
ab_000    0
ac_000    0
ad_000    0
dtype: int64

In [41]:
df.isnull().values.any()   #no null values

False

In [42]:
#since null  values are replaced with na ,we rename it to nan for identifying null values
df.replace({'na': np.nan}, inplace=True, regex=True)
df.isnull().sum()

class         0
aa_000        0
ab_000    46329
ac_000     3335
ad_000    14861
ae_000     2500
af_000     2500
ag_000      671
ag_001      671
ag_002      671
ag_003      671
ag_004      671
ag_005      671
ag_006      671
ag_007      671
ag_008      671
ag_009      671
ah_000      645
ai_000      629
aj_000      629
ak_000     4400
al_000      642
am_0        629
an_000      642
ao_000      589
ap_000      642
aq_000      589
ar_000     2723
as_000      629
at_000      629
          ...
dl_000     4008
dm_000     4009
dn_000      691
do_000     2724
dp_000     2726
dq_000     2726
dr_000     2726
ds_000     2727
dt_000     2727
du_000     2726
dv_000     2726
dx_000     2723
dy_000     2724
dz_000     2723
ea_000     2723
eb_000     4007
ec_00     10239
ed_000     9553
ee_000      671
ee_001      671
ee_002      671
ee_003      671
ee_004      671
ee_005      671
ee_006      671
ee_007      671
ee_008      671
ee_009      671
ef_000     2724
eg_000     2723
Length: 171, dtype: int64

In [43]:
#it has having null values

## missing value treatment by imputing it with median

In [44]:
from sklearn.preprocessing import Imputer

#df = df.drop('class', axis=1)

imputer = Imputer(missing_values=np.nan, strategy='median', axis=0)
for column in df:
    df[[column]] = imputer.fit_transform(df[[column]])
    
df.isnull().sum()

C:\Users\sreekar chidurala\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

class     0
aa_000    0
ab_000    0
ac_000    0
ad_000    0
ae_000    0
af_000    0
ag_000    0
ag_001    0
ag_002    0
ag_003    0
ag_004    0
ag_005    0
ag_006    0
ag_007    0
ag_008    0
ag_009    0
ah_000    0
ai_000    0
aj_000    0
ak_000    0
al_000    0
am_0      0
an_000    0
ao_000    0
ap_000    0
aq_000    0
ar_000    0
as_000    0
at_000    0
         ..
dl_000    0
dm_000    0
dn_000    0
do_000    0
dp_000    0
dq_000    0
dr_000    0
ds_000    0
dt_000    0
du_000    0
dv_000    0
dx_000    0
dy_000    0
dz_000    0
ea_000    0
eb_000    0
ec_00     0
ed_000    0
ee_000    0
ee_001    0
ee_002    0
ee_003    0
ee_004    0
ee_005    0
ee_006    0
ee_007    0
ee_008    0
ee_009    0
ef_000    0
eg_000    0
Length: 171, dtype: int64

In [45]:
df.head()

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,0.0,76698.0,0.0,2.130706e+09,280.0,0.0,0.0,0.0,0.0,0.0,...,1240520.0,493384.0,721044.0,469792.0,339156.0,157956.0,73224.0,0.0,0.0,0.0
1,0.0,33058.0,0.0,0.000000e+00,126.0,0.0,0.0,0.0,0.0,0.0,...,421400.0,178064.0,293306.0,245416.0,133654.0,81140.0,97576.0,1500.0,0.0,0.0
2,0.0,41040.0,0.0,2.280000e+02,100.0,0.0,0.0,0.0,0.0,0.0,...,277378.0,159812.0,423992.0,409564.0,320746.0,158022.0,95128.0,514.0,0.0,0.0
3,0.0,12.0,0.0,7.000000e+01,66.0,0.0,10.0,0.0,0.0,0.0,...,240.0,46.0,58.0,44.0,10.0,0.0,0.0,0.0,4.0,32.0
4,0.0,60874.0,0.0,1.368000e+03,458.0,0.0,0.0,0.0,0.0,0.0,...,622012.0,229790.0,405298.0,347188.0,286954.0,311560.0,433954.0,1218.0,0.0,0.0

In [46]:
df.head()
clean_train=df

In [47]:
df.dtypes.head()

class     float64
aa_000    float64
ab_000    float64
ac_000    float64
ad_000    float64
dtype: object

In [48]:
##data cleaning for test
test.head()

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,0,76698,na,2130706438,280,0,0,0,0,0,...,1240520,493384,721044,469792,339156,157956,73224,0,0,0
1,0,33058,na,0,na,0,0,0,0,0,...,421400,178064,293306,245416,133654,81140,97576,1500,0,0
2,0,41040,na,228,100,0,0,0,0,0,...,277378,159812,423992,409564,320746,158022,95128,514,0,0
3,0,12,0,70,66,0,10,0,0,0,...,240,46,58,44,10,0,0,0,4,32
4,0,60874,na,1368,458,0,0,0,0,0,...,622012,229790,405298,347188,286954,311560,433954,1218,0,0

In [49]:
#since null  values are replaced with na ,we rename it to nan for identifying null values
test.replace({'na': np.nan}, inplace=True, regex=True)
test.isnull().sum()

class         0
aa_000        0
ab_000    46329
ac_000     3335
ad_000    14861
ae_000     2500
af_000     2500
ag_000      671
ag_001      671
ag_002      671
ag_003      671
ag_004      671
ag_005      671
ag_006      671
ag_007      671
ag_008      671
ag_009      671
ah_000      645
ai_000      629
aj_000      629
ak_000     4400
al_000      642
am_0        629
an_000      642
ao_000      589
ap_000      642
aq_000      589
ar_000     2723
as_000      629
at_000      629
          ...
dl_000     4008
dm_000     4009
dn_000      691
do_000     2724
dp_000     2726
dq_000     2726
dr_000     2726
ds_000     2727
dt_000     2727
du_000     2726
dv_000     2726
dx_000     2723
dy_000     2724
dz_000     2723
ea_000     2723
eb_000     4007
ec_00     10239
ed_000     9553
ee_000      671
ee_001      671
ee_002      671
ee_003      671
ee_004      671
ee_005      671
ee_006      671
ee_007      671
ee_008      671
ee_009      671
ef_000     2724
eg_000     2723
Length: 171, dtype: int64

In [50]:
test_y=test["class"]

In [51]:
from sklearn.preprocessing import Imputer

#test = test.drop('class', axis=1)

imputer = Imputer(missing_values=np.nan, strategy='median', axis=0)
for column in test:
    test[[column]] = imputer.fit_transform(test[[column]])
    
test.isnull().sum()

C:\Users\sreekar chidurala\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

class     0
aa_000    0
ab_000    0
ac_000    0
ad_000    0
ae_000    0
af_000    0
ag_000    0
ag_001    0
ag_002    0
ag_003    0
ag_004    0
ag_005    0
ag_006    0
ag_007    0
ag_008    0
ag_009    0
ah_000    0
ai_000    0
aj_000    0
ak_000    0
al_000    0
am_0      0
an_000    0
ao_000    0
ap_000    0
aq_000    0
ar_000    0
as_000    0
at_000    0
         ..
dl_000    0
dm_000    0
dn_000    0
do_000    0
dp_000    0
dq_000    0
dr_000    0
ds_000    0
dt_000    0
du_000    0
dv_000    0
dx_000    0
dy_000    0
dz_000    0
ea_000    0
eb_000    0
ec_00     0
ed_000    0
ee_000    0
ee_001    0
ee_002    0
ee_003    0
ee_004    0
ee_005    0
ee_006    0
ee_007    0
ee_008    0
ee_009    0
ef_000    0
eg_000    0
Length: 171, dtype: int64

In [52]:
test.head()

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,0.0,76698.0,0.0,2.130706e+09,280.0,0.0,0.0,0.0,0.0,0.0,...,1240520.0,493384.0,721044.0,469792.0,339156.0,157956.0,73224.0,0.0,0.0,0.0
1,0.0,33058.0,0.0,0.000000e+00,126.0,0.0,0.0,0.0,0.0,0.0,...,421400.0,178064.0,293306.0,245416.0,133654.0,81140.0,97576.0,1500.0,0.0,0.0
2,0.0,41040.0,0.0,2.280000e+02,100.0,0.0,0.0,0.0,0.0,0.0,...,277378.0,159812.0,423992.0,409564.0,320746.0,158022.0,95128.0,514.0,0.0,0.0
3,0.0,12.0,0.0,7.000000e+01,66.0,0.0,10.0,0.0,0.0,0.0,...,240.0,46.0,58.0,44.0,10.0,0.0,0.0,0.0,4.0,32.0
4,0.0,60874.0,0.0,1.368000e+03,458.0,0.0,0.0,0.0,0.0,0.0,...,622012.0,229790.0,405298.0,347188.0,286954.0,311560.0,433954.0,1218.0,0.0,0.0

In [53]:
clean_train=df
clean_test=test

In [54]:
test = test.drop('class', axis=1)

In [55]:
df = df.drop('class', axis=1)

In [56]:
#splitting train and test

In [63]:
train_y=raw_df["class"]

In [72]:
train_x=df

In [59]:
test_x=test

In [64]:
train_x.shape, train_y.shape ,test_x.shape, test_y.shape

((60000,), (60000,), (60000, 170), (60000,))

In [65]:
train_x.isnull().values.any()

False

In [66]:
test_x.isnull().values.any()

False

In [74]:
#train_x

In [67]:
from sklearn.preprocessing import MaxAbsScaler

In [76]:
scaler = MaxAbsScaler()
scaler.fit(train_x)
X_train = scaler.transform(train_x)
X_test = scaler.transform(test_x)

In [77]:
from imblearn.over_sampling import SMOTE
smote=SMOTE(random_state=40)
X_train_res, y_train_res=smote.fit_sample(X_train, train_y)

In [78]:
from imblearn.over_sampling import SMOTE
smote=SMOTE(random_state=40)
X_test_res, y_test_res=smote.fit_sample(X_test, test_y)

In [79]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix, roc_curve, make_scorer
from tqdm import tqdm

SEED = 1

In [80]:
model_full_rf = RandomForestClassifier(n_estimators=200, class_weight='balanced', random_state=SEED, n_jobs=-1)
model_full_rf.fit(X_train_res, y_train_res)

RandomForestClassifier(bootstrap=True, class_weight='balanced',
            criterion='gini', max_depth=None, max_features='auto',
            max_leaf_nodes=None, min_impurity_decrease=0.0,
            min_impurity_split=None, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=200, n_jobs=-1, oob_score=False, random_state=1,
            verbose=0, warm_start=False)

In [81]:
model_full_rf.score(X_test_res, y_test_res)

1.0

In [82]:
model_full_rf.score(X_train_res, y_train_res)

1.0

In [85]:
from sklearn.tree import DecisionTreeClassifier

In [86]:
DTClassifier= DecisionTreeClassifier(max_depth=12, min_samples_split = 3, min_samples_leaf=5)
DTClassifier.fit (X_train_res,y_train_res)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=12,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=5, min_samples_split=3,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [88]:
from sklearn.metrics import accuracy_score
from sklearn import metrics

In [89]:
predicted_labels = DTClassifier.predict(X_test_res)
accuracy_score_1 = accuracy_score(y_test_res,predicted_labels)
print(accuracy_score_1)

0.9898813559322034

In [90]:
print(metrics.confusion_matrix(y_test_res,predicted_labels))

[[58120   880]
 [  314 58686]]